@media (min-width: 979px) {
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}

body {
  background-color: whiteSmoke;
}

::-moz-selection{ background: #b3d4fc; text-shadow: none; }
::selection { background: #b3d4fc; text-shadow: none; }

a {
  outline: none;
  &:active { outline: none; }
  &:focus {
    outline: none;
    -moz-outline-style: none;
  }
}

.noshow {
  display: none;
}

.sidebar-nav {
    padding: 9px 0;
}