<div class="row-fluid">
    <div class="span3">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li class="nav-header">Messages</li>
                <li>{{#linkTo 'messages.index'}}List of Messages{{/linkTo}}</li>
                <li>{{#linkTo 'messages.create'}}Create New Message{{/linkTo}}</li>
            </ul>
        </div>
    </div>
    <div class="span9">
        {{outlet}}
    </div>
</div>